{% extends "base.html" %}

{% block content %}
	{% if not session.logged_in %}
		<p>You're not logged in!</p>
	{% else %}
		<p>You're logged in!</p>
	{% endif %}

<div class="alert alert-info notification" id="loading-message" style="display:none"> 
    <img src="/static/img/ajax-loader.gif"></img>&nbsp; &nbsp; <span class="message">Loading Clusters...</span>
</div>

<div id="clusterDiv">
</div>

<p class="button"><a class="btn btn-large" id="viewcluster-button">Expand Cluster</a></p>

<div class="modal fade" id="viewcluster-modal">
    <div class="modal-header">
	<button class="close" data-dismiss="modal">×</button>
	<h3 id="viewcluster-title">Cluster</h3>
    </div>
    <div class="modal-body">
        <p align="center"><strong>Cluster Name: </strong><input type="text" id="cluster-name" /></p>
	<p class="button" align="center"><a class="btn btn-large" id="friendlist-button">Create Friend List</a> </p>
	<p align="center" id="cluster-interests"></p>
	<br /><br />
	<div id="friend-list">
            <p><ul class="list-of-friends" id="list-of-friends"></ul></p>
	</div>
    </div>
</div>

 <div class="modal fade" id="alert-modal">
    <div class="modal-header">
	<h3 id="alert-title">Alert Title</h3>
    </div>
    <div class="modal-body">
	<p id="alert-text">Alert text</p>
    </div>
    <div class="modal-footer">
	<button class="btn btn-large" data-dismiss="modal">Okay</button>
    </div>
</div>

{% endblock %}
